@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Source Code Pro', monospace;
}
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --sky:skyblue;
    --white:white;
}
::selection{
    background-color: yellow;
    color: black;
}
html{
    scroll-behavior: smooth;
    font-size: 90%;
    background-color: var(--black);
    justify-content: center;

 
   

}

/* heading css is here  */
.heading{
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    text-align: center;
}
.heading h1
{
    font-size: 2.5rem;
    font-style: italic;
    font-family: cursive;
    color:var(--sky);
    text-shadow: 1px 1px white;
}
.heading h1 span{
    font-size: 2.5rem;
    font-style: italic;
    font-family: cursive;
    color:gold;
    margin-left: 1rem;
}
/* heading css is here  */

/* navigation start here  */

#navigation{
   
    position: fixed;
    z-index: 1000;
    display: flex;
    top: 0%;
    left: 0%;
   width: 100%;
   height: 4rem;
    font-style: italic;
    background-color:var(--black);
    padding: 0.5rem;
    
}
#navigation a{
    text-decoration: none;
    color:wheat;
    font-size: 1.4rem;
}

#navigation .nav-item1{
display: flex;
width: 20%;
align-items: center;
justify-content: left;
font-weight: bold;

}
#navigation .nav-item1 a i{
    font-size: 2rem;
    margin: 0.3rem;
    color:var(--sky);
}
#navigation .nav-item1 a i:hover{
    color: var(--white);
}
#navigation .nav-item2 #close{
    display: none;
   
}
#navigation .nav-item1 a{
color: white;
}

#navigation .nav-item1 a:hover{
    color: yellow;
    border-bottom: 2px solid var(--white);

} 


#navigation .nav-item1 a span{
font-size: 2.5rem;
color:rgb(95, 228, 34);
font-family: cursive;
text-transform: uppercase;
text-shadow: 2px 2px rgb(164, 226, 223);
font-weight:lighter;
margin: 0.1rem;
}
#navigation .nav-item2{
    display: flex;
    width: 67%;
    align-items: center;
   justify-content: space-evenly;
  
}
#navigation .nav-item2 div{
    /* margin-left: 3.5rem; */
    font-weight: bold;
   
    
}


#navigation .nav-item2 div a{
    padding:0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}
#navigation .nav-item2 a:hover{
color:var(--white);
border-bottom: 2px solid yellow;
 
}

#navigation .nav-item3{
    display: flex;
    width: 13%;
    align-items: center;
    text-align: center;
    justify-content: end;
    color: wheat;
    font-size: 2rem;
   padding: 1rem;
}
#navigation .nav-item3 div{
  width: 100%;
  justify-content: space-evenly;
}
#navigation .nav-item3 div i{
cursor: pointer;
font-size: 1.7rem;

}
#navigation .nav-item3 div #menu-btn{
display: none;
}
/* navigation end here  */


/* search section start here  */
#search{
    position: fixed;
    top: -100%;
    width: 20rem;
    height: 3rem;
    z-index: 1000;


}
#search.active{
     top: 5.5rem;
    right: 2rem;
}
#search form{
    border: 2px solid grey;
    border-radius: 0.3rem;
    align-items: center;
    background-color: var(--white);
    color: var(--white);
}
#search form input{
    border: none;
    background: none;
    font-size: 1.2rem;
    width: 85%;
    font-weight: bold;
}
#search form i{
    cursor: pointer;
    color: var(--black);
}
/* search section end here  */



/* home section start here  */
#home{
    width: 100%;
    height: 100vh;
    cursor: pointer;
 
}
#home #btn{
    color: var(--white);
}

.swiper {
   
    width: 100%;
    height: 100vh;
    
  }
  .swiper  .swiper-slide{
    width: 100%;
    height: 100vh;
    
  }
  
  .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 95%;
    object-fit: cover;
  }

/* home section end here  */



/* about section start here  */

#about{
  
    width: 100%;
    border-bottom:1px dotted var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about .container{
  
   display: flex;
   flex-wrap: wrap;
    /* padding: 1rem; */
}

#about .container .contant{
   
    color: var(--white);
 
   width: 50%;
   text-align: center;
 
  
}
#about .container .contant h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}
#about .container .contant p{
    font-size: 1.3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 0.4rem;
}
#about .container .contant a{
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid gold;
   color: var(--white);
    font-size: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
}
#about .container .contant a:hover{
    color: darkblue;
    background-color: yellow;
}
#about .container .vid{
    width: 50%;
  text-align: center;
  

  

}
#about .container .vid video{
    width: 90%;
    height: 30rem;
    /* border-radius: 1rem; */

}
/* about section end here  */


/* menu section start here  */

#menu{
    width: 100%;
    justify-content: center;
    border-bottom: 1px dashed white;
}

#menu .menu-item{
    width: 100%;
    height: 5rem;
    align-items: center;
    text-align: center;
    
}
#menu .menu-item button{
border: none;
background-color: transparent;
font-weight: bolder;
color: var(--white);
margin: 1rem 1rem;
cursor: pointer;
font-size: 1.3rem;

}

#menu .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#menu .container #menu-type{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1rem;


}

#menu .container .lunch-item{
    display: flex;
    align-items: center;
    border-bottom:2px dotted var(--white);
    padding: 0.3rem;
    margin: 1rem;
    font-size: 1.3rem;
    width: 100%;
}
#menu .container  .lunch-item img{
    width: 4rem;
    border-radius: 0.5rem;
    height: 4rem;
    object-fit: cover;
}
#menu .container  .lunch-item p{
    margin-left: 1rem;
    color: var(--white);
}
#menu .container  .lunch-item p span{
    color: gold;
    font-weight: bolder;
}
#menu .container  .lunch-item p em{
    font-size: 1rem;
    color: orange;
    font-weight: bolder;
}



/* menu section end here  */



/* chef section start here  */
#chef{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom:1px dotted var(--white);
    justify-content: center;
}
#chef .container{
width: 100%;
margin-top: 1rem;
margin-bottom: 1rem;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;

}
#chef .container .chef-item{
    width: 28rem;
    height: 40rem;
    border: 2px solid white;
    margin-top: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--black);
}
#chef .container .chef-item:hover .image img{
transform: rotate(2deg);

}
#chef .container .chef-item:hover .identity{
    color: gold;
}
#chef .container .chef-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#chef .container .chef-item .identity{
    width: 100%;
    align-items: center;
    text-align: center;
   color: var(--white);
   position: absolute;
   bottom: 0;
   background-color: var(--black);
}

/* chef section end here  */


/* feedback section start from here  */
#feedback
{
    width: 100%;
    border-bottom: 1px dashed white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#feedback .feedback-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
      margin-top: 5rem;
     margin-bottom: 2rem;
}
#feedback .feedback-container .feedback-item{
width: 26rem;
border: 2px solid white;
justify-content: center;
padding: 1rem;
height: 25rem;
border-radius: 1rem;
color: var(--white);
margin-top: 1rem;
background-color: #191f3a;

}
#feedback .feedback-container .feedback-item:hover{
    background-color: var(--black);
    cursor: pointer;
    color: yellow;
}
#feedback .feedback-container .feedback-item .feed-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
#feedback .feedback-container .feedback-item .feed-1 h2{
    font-size: 2.5rem;
    color: gold;
    
}
#feedback .feedback-container .feedback-item  img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
   
    
}
#feedback .feedback-container .feedback-item p{
    margin-bottom: 3rem;
    font-size: 1.1rem;
}
#feedback .feedback-container .feedback-item i{
    margin: 0.3rem;
    font-size: 1.5rem;
    color: goldenrod;
}
/* feedback section end from here  */



/* contact section start from here  */

#contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom:1px dotted var(--white);
    justify-content: center;
    align-items: center;

}
#contact .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}
#contact .container .contact-item{
    width: 40rem;
    height: 37rem;
    background-color: #191f3a;
    font-size: 1.3rem;
    justify-content: center;
   

}
#contact .container .contact-item img{
    width: 100%;
    height: 100%;
    
}
#contact .container .contact-item form{
    width: 100%;
    height: 100%;
    margin: 1rem;  
    justify-content: center;
    align-items: center;

}
#contact .container .contact-item form div{
    border:1px solid rgb(162, 196, 38);
    margin: 0.4rem;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.4rem;
    align-items: center;
    margin-top: 1rem;

    
    
}
#contact .container .contact-item form input{
    font-size: 1.3rem;
    width: 80%;
    height: 100%;
    padding: 0.3rem;
    border: none;
    background: none;
    font-family: sans-serif;
    /* color:white; */

   
}

#contact .container .contact-item form input:focus,
#contact .container .contact-item form textarea:focus
{
    background: yellowgreen;
   
  
}

#contact .container .contact-item form textarea{
    font-size: 1.3rem;
    width: 90%;
    margin-top: 1rem;
    padding: 0.3rem;
    border: none;
    margin-left :0.4rem ;
    background: none;
    font-family: sans-serif;

    border:1px solid rgb(162, 196, 38);
    border-radius: 0.5rem;


}
#contact .container .contact-item form div span{
  color: antiquewhite;
    /* width: 2rem; */
    font-size: 1.5rem;
    margin-right: 0.2rem;
    padding: 0.2rem;
    
}
#contact .container .contact-item form button{
    margin-left :0.4rem ;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    background: chartreuse;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}
#contact .container .contact-item form button:hover{
    background: cyan;
    color: darkblue;
    cursor: pointer;
}
/* contact section end from here  */


/* footer section start from here  */
footer{
    margin-top: 2rem;
    border-bottom:1px dotted var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background: #191f3a;
    width: 100%;
    color: white;
}
footer .footer-item{
    padding:1rem;
    margin: 1rem;
    margin-top: 2rem;
    width: 30rem;
    /* border: 2px solid white; */
    justify-content: center;
}
footer .footer-item h3{
    text-align: center;
    margin-bottom: 3rem;
    color:yellow;
}
footer .footer-item p{
    margin-bottom: 1rem;
    text-align: center;
}
footer .footer-item p i{
color:wheat;
}
footer .footer-item p span{
    color: burlywood;
}
/* footer section end from here  */


/* detai is here  */
#detail{
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1rem;
    text-align: center;
    color: white;
}
#detail span{
    color:gold;
    font-weight: bolder;
    font-style: italic;
}





/* media query  */
@media(max-width:991px){
    html{
        font-size: 60%;

    }

}
@media(max-width:720px){
    html{
        font-size: 55%;

    }
    #navigation{
        justify-content: space-evenly;
        align-items: center;
    }
    #navigation .nav-item2{
        position: fixed;
        top: -150%;
       right: -100%;
        display:inline-block;
       width: 25rem;
       height: 30rem;
      background-color: black;
      z-index: 1000;
    }
    #nav-item2.active{
        right: 0.1rem;    
        top: 5rem;
    }
   
    #navigation .nav-item2 div{
        
        font-weight: bold;
        padding-left: 1rem;
        line-height: 4.5rem;
    }
   
  
    #navigation .nav-item2 div a{
        justify-content: center;
       text-align: center;
       align-items: center;
    }

    #menu .container .lunch{
        row-gap: 1rem;
        column-gap: 1rem;
    }
    #menu .container .dinner{
        row-gap: 1rem;
        column-gap: 1rem;
    }
    #menu .container .drink{
        row-gap: 1rem;
        column-gap: 1rem;
    }
    
    #menu .container .dessert{
        
        row-gap: 1rem;
        column-gap: 1rem;
        /* display: none; */
    }
    #navigation .nav-item3 div #menu-btn {
        display:inline-block;
    }
    #navigation .nav-item1{
        text-align: left;
      
        
    }
    #navigation .nav-item3{
        text-align: left;
    }
   
}

@media(max-width:420px){
    html{
    font-size: 50%;
    }
    #navigation .nav-item1{
       width: 25%;
    }
    #navigation .nav-item3{
        width: 20%;
        text-align: center;
     }

    #about .container .contant{
    
      color: var(--white);
        justify-content: center;
         width: 100%;
        
    }

 #about .container .vid{
     width: 100%;
   justify-content: center;
  
 }
 #about .container .vid video{
     width: 90%;
     height: 30rem;
     /* border-radius: 1rem; */
 
 }
 
#menu .container #menu-type{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
   
}
#menu .menu-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#menu .menu-item button{
    font-size: 1.9rem;
   
}
#menu .container .lunch-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#menu .container .lunch-item p{
    font-size: 1.7rem;
}
}


@media(max-width:320px){
    html{
    font-size: 50%;
    justify-content: center;
    }
    section{
        padding: 2rem;
    }
    #navigation{
        justify-content: space-between;
       
    }
    #navigation .nav-item1{
        width: 30%;
    
     }
     #navigation .nav-item3{
         width: 50%;
         text-align: left;
      }
    #chef .container{
        justify-content: center;
        text-align: center;
    }
    #contact .container .contact-item{
        width: 93%;
        height: 37rem;
        background-color: #191f3a;
        font-size: 1.3rem;
        justify-content: center;
       
    
    }

   
    #feedback .feedback-container .feedback-item{
    width: 20rem;
    height: 30rem;
    margin-top: 1rem;
    }
   
   
}

